html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 450px;
    height: 335px;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    color: white;
}

.layout-positioner {
    width: 350px;
    margin: auto;
}

.layout-positioner::after {
    display: table;
    content: "";
    clear: both;
}

.wrapper {
    width: 350px;
    margin: 0 auto;
    box-shadow: 0 0 2px #cccccc;
}

.header {
    min-height: 5px;
    background-color: #34495e;
    padding: 10px 0 10px 0;
}

.header-column1 {
    float: left;
    width: 340px;
    min-height: 25px;
    background-color: #c0392b;
    padding: 5px;
}

.menu {
    height: 30px;
    background-color: #3498DB;
    padding-top: 5px;
    padding-left: 10px;
}

.header2 {
    min-height: 55px;
    background-color: #34495e;
    padding: 10px 0 10px 0;
}

.column-promo1 {
    float: left;
    width: 160px;
    height: 50px;
    margin-right: 10px;
    background-color: #c0392b;   
    padding: 5px;
}

.column-promo2 {
    float: right;
    width: 160px;
    height: 50px;
    margin-right: 0px;
    background-color: #c0392b;   
    padding: 5px;
}

.main {
    min-height: 100px;
    background-color: white;
    padding: 10px 0 10px 0;
}

.column-left {
    float: left;
    width: 60px;
    height: 100px;
    padding: 5px;
    background-color: #3498DB;
    margin-right: 10px;
}

.column-main {
    float: left;
    width: 180px;
    height: 100px;
    padding: 5px;
    background-color: #3498DB;
    margin-right: 10px;
}

.column-right {
    float: right;
    width: 60px;
    height: 100px;
    padding: 5px;
    background-color: #3498DB;
    margin-right: 0;
}

.footer {
    min-height: 55px;
    background-color: #34495e;
    padding-top: 5px;
    padding-left: 10px;
}