html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 450px;
    height: 335px;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    color: white;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.back-header1 {
    width: 450px;
    min-height: 55px;
    background-color: #34495e;
}

.header {
    float: left;
    width: 340px;
    height: 25px;
    background-color: #c0392b;
    padding: 5px;
    margin-left: 50px;
    margin-top: 10px;
    
}

.menu {
    width: 395px;
    height: 30px;
    background-color: #3498DB;
    padding-top: 5px;
    padding-left: 55px;
}

.back-header2 {
    width: 430px;
    min-height: 55px;
    background-color: #34495e;
    padding: 10px;
}

.column-promo1 {
    float: left;
    width: 160px;
    height: 50px;
    padding: 5px;
    background-color: #c0392b;
    margin-right: 10px;
    margin-left: 40px;
}

.column-promo2 {
    float: left;
    width: 160px;
    height: 50px;
    padding: 5px;
    background-color: #c0392b;
}

.main {
    width: 400px;
    min-height: 100px;
    background-color: white;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.column-left {
    float: left;
    width: 60px;
    height: 100px;
    padding: 5px;
    background-color: #3498DB;
    margin-right: 10px;
}

.column-main {
    float: left;
    width: 180px;
    height: 100px;
    padding: 5px;
    background-color: #3498DB;
    margin-right: 10px;
}

.column-right {
    float: left;
    width: 60px;
    height: 100px;
    padding: 5px;
    background-color: #3498DB;
    margin-right: 0;
}

.footer {
    width: 395px;
    min-height: 55px;
    background-color: #34495e;
    padding-top: 5px;
    padding-left: 55px;
}

/*
    Используемые цвета:
    #34495e – мокрый асфальт
    #c0392b – красный
    #3498DB – синий
*/